# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.lot
*.lof
*.fdb_latexmk
*.fls
*.synctex.gz
*.nav
*.snm
*.vrb

# PDF output (optional - uncomment if you don't want to commit the PDF)
# *.pdf
